/* Makes our label white. */
.blocklyTreeLabel {
    color: #ffffff;
  }
  /* Adds padding around the group of categories and separators. */
  .blocklyToolboxContents {
    padding: 0.5em;
  }
  /* Adds space between the categories, rounds the corners and adds space around the label. */
  .blocklyTreeRow {
    padding: 3px;
    margin-bottom: 0.5em;
    border-radius: 4px;
  }
  /* Changes color of the icon to white. */
  .customIcon {
    color: #fff;
  }
  /* Stacks the icon on top of the label. */
  .blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blocklyTreeRow {
    height: initial;
  }
  /*modify the background of the category to a darker gray*/
  .blocklyToolboxDiv {
    background: #8c887d; /*fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d69292, #a9a7a1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d69292, #a9a7a1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: visible;
    overflow-y: auto;
    padding: 4px 0 4px 0;
    position: absolute;
    z-index: 70;
    -webkit-tap-highlight-color: transparent;
}